*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
ltr/admin/local.py
ltr/run_ltr_local.py
ltr/train_settings/*/debug.py
pytracking/parameter/*/debug.py
pytracking/networks/
pytracking/tracking_results/
pytracking/result_plots/
pytracking/evaluation/local.py
pytracking/pytracking/evaluation/local.py
pytracking/run_local.py
tensorboard
checkpoints
tracking_results
pytracking/pytracking/tracking_results
pytracking/pytracking/tensorboard
pytracking/pytracking/checkpoints
pytracking/pytracking/results
pytracking/results
results
pytracking/pytracking/sequences_2020
pytracking/sequences_2020
sequences_2020
pytracking/pytracking/sequences
pytracking/sequences
sequences
pytracking/pytracking/logs
pytracking/logs
logs
output_video
saved_videos