*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
ltr/admin/local.py
ltr/run_ltr_local.py
ltr/train_settings/*/debug.py
tensorboard
checkpoints
pytracking/dclip
pytracking/parameter/*/debug.py
pytracking/networks/
pytracking/tracking_results/
pytracking/result_plots/
pytracking/evaluation/local.py
pytracking/run_local.py
pytracking_RTS/dclip
pytracking_RTS/parameter/*/debug.py
pytracking_RTS/networks/
pytracking_RTS/tracking_results/
pytracking_RTS/result_plots/
pytracking_RTS/evaluation/local.py
pytracking_RTS/run_local.py
*.jpg
pytracking/*.jpg
dclip
pytracking/tracking_results
pytracking/tensorboard
pytracking/checkpoints
pytracking/pytracking/tracking_results
pytracking/pytracking/tensorboard
pytracking/pytracking/checkpoints
pytracking/dclip
pytracking/pytracking/dclip
pytracking/pytracking/results
pytracking/results
results
pytracking/pytracking/sequences_2020
pytracking/sequences_2020
sequences_2020
pytracking/pytracking/sequences
pytracking/sequences
sequences
pytracking/pytracking/logs
pytracking/logs
logs
tomp_vot2022/vot2022-stb
tomp_vot2022/vot2020-stb
vot2022-stb
vot2020-stb
pytracking/ltr/cotracker2/co_tracker/saved_videos
pytracking/ltr/cotracker2/co_tracker/assets
pytracking/*.png
pytracking/ltr/vggt/misc/examples
trace.json
pytracking/ltr/StreamVGGT/src/streamvggt/ckpt/*
pytracking/error_log_train.txt