# Python cache
__pycache__/
*.py[cod]


# Distribution / packaging
workspace/
build/
dist/
*.egg-info/
.gradio/

# Test/coverage
.coverage
.pytest_cache/
htmlcov/
.tox/
gallery*/
debug*/
DA3HF*/
gradio_workspace/
eval_workspace/
FILTER*/
input_images*/
*.gradio/

# Jupyter notebooks
.ipynb_checkpoints

# OS files
.DS_Store

.vscode
src/debug_main.py
temp*.png
/outputs
